@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }
}

html {
    scroll-behavior: smooth;
}

:root {
    --pink: #DC2751;
    --navyBlue: #192b54;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #ff6b35 #0b0b1d;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px;
    height: 4px;
}

*::-webkit-scrollbar-track {
    background: #0b0b1d;
}

*::-webkit-scrollbar-thumb {
    background-color: #ff6b35;
    border-radius: 15px;
    border: 0px none #ffffff;
}

.dropdown {
    transition: transform 0.3s linear, opacity 0.3s linear, visibility 0.3s linear;
}

.has_dropdown:focus-within .dropdown,
.has_dropdown:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.border-gradient-btn {
    background: linear-gradient(to right, #18181B, #18181B),
        linear-gradient(to bottom right, #f09402, #ed4731);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.hover\:border-gradient-btn:hover {
    background: linear-gradient(to right, #18181B, #18181B),
        linear-gradient(to bottom right, #f09402, #f09402, #f09402, #f09402, #c5c5c5);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.gradient-border-3 {
    border: 3px solid transparent;
}

.bg-homepage {
    background-image: url("/homepage.jpg");
}

.bg-loginImg {
    background-image: url("/loginImg.jpg");
}

.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 80;
}